.nav_icon {
    width: 2em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 0;
}
#top a {
    color: #212121;
    text-shadow: none;
    text-decoration:none;
    margin: auto;
    white-space: nowrap;
    font-size: 16px;
}
#top a:hover{
    color: #00A1D6;
}
input {
    background: none;
    outline: none;
    border: none;
}

#top{
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 0 0px 10px 0;
}
.top_interval{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:30%;
    margin: 0 0 0 36px;
}
.nav_search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    transition: 0.3s width;
    position: relative;
}
#nav_fromsearch{
    background: #F4F4F4;
    border: 1px solid #E7E7E7;
    display: block;
    padding: 0 38px 0 16px;
}
#nav_fromsearch input{
    height: 34px;
    width: 100%;
}

/*会员头像*/
.head_img{
    width: 26px;
    height: 24px;
    border-radius: 50%;
    margin: 6px 0 0 0;
}
